*{margin: 0;padding: 0;}
ul,li{list-style: none;}
.jd_banner{position: relative;}
.jd_banner .banner_imgs {
  /* 10倍屏幕宽度 */
  width: 1000%;
  font-size: 0;
}
.jd_banner .banner_imgs li {
  /* 一倍的屏幕宽度 */
  width: 10%;
  display: inline-block;
}
.jd_banner .banner_imgs li a {
  display: block;
  width: 100%;
}
.jd_banner .banner_imgs li a img {
  display: block;
  width: 100%;
}
.jd_banner .banner_index {
  position: absolute;
  bottom: 15px;
  left: 50%;
  margin-left: -64px;
}
.jd_banner .banner_index li {
  float: left;
  width: 6px;
  height: 6px;
  border: 1px solid white;
  border-radius: 50%;
  margin: 0 5px;
}
.jd_banner .banner_index li.current {
  background-color: #fff;
}